
/* Estilos de background */
body {
  background-color: black; 
  font-family: Arial, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

/* Estilo del logo */
img {
  width: 50px; 
  height: 50px; 
  margin-top: 900px;
}


/* Estilos para el tablero */
#tablero {
  width: 80vh; 
  height: 80vh; 
  display: grid;
  grid-template-columns: repeat(var(--columnas), minmax(30px, 1fr)); /* Utiliza una variable para el número de columnas */
  grid-template-rows: repeat(var(--filas), minmax(30px, 1fr)); /* Utiliza una variable para el número de filas */
  grid-gap: 5px;

  margin-top: 20px;
  max-width: 90vw; 
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para las celdas */
.celda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; 
  background-color: #ddd; 
  border: 1px solid #999; 
  cursor: pointer;  
}

/* Descomentar para ver donde estan las minas */

/* .celda.mina::after {
  content: '💣'; 
} */


/* Para las celdas vacias sin minas alrededores */
.celda-vacia {
  background-color: #aaa; 
}


/* Bloque article de #control */
#control {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}

/* <p> de bandera y desmarcar */
#bandera{
  color: red;
}

#desmarcar{
  color: red;
}

/* Estilos para los botones */

button {
  padding: 10px; 
  margin: 10px; 
  font-size: 16px; 
  cursor: pointer; 
  background-color: white; 
  border: none; 
  color: black; 
  border-radius: 5px; 
}

button:hover {
  background-color: white; 
}

/* Boton de reiniciar */
#botonReiniciar{
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; 
}

/* Poner bandera si la classe es +bandera */
.celda.bandera::after {
  content: '🚩'; 
  font-size: 30px;
}
/* Info de jugar encima de los botones */
#info{
  margin-bottom: 200px;
  margin-right: -420px;
  font-size: 15px;
  color: white;
  text-align: center;
  line-height: 0.3;
} 

