/* Estilos para el tablero */
#tablero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

/* Estilos para las celdas */
.celda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
}

