
/* Estilos de background */
body {
  background-color: black; 
  font-family: Arial, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

/* Estilo del logo */
img {
  width: 50px; 
  height: 50px; 
  margin-top: 800px;
}


/* Estilos para el tablero */
#tablero {
  width: 80vh; 
  height: 80vh; 
  display: grid;
  grid-template-columns: repeat(var(--columnas), minmax(30px, 1fr));
  grid-template-rows: repeat(var(--filas), minmax(30px, 1fr)); 
  grid-gap: 5px;

  margin-top: 20px;
  max-width: 90vw; 
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para las celdas */
.celda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; 
  background-color: #ffffff; 
  border: 1px solid #999; 
  color: black;
  cursor: pointer;  
}

/* Descomentar para ver donde estan las minas */

/* .celda.mina::after {
  content: '💣'; 
} */


/* Bloque article de #control */
#control {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}

/* <p> de bandera y desmarcar */
#bandera{
  color: red;
}

#desmarcar{
  color: red;
}

/* Estilos para los botones */

button {
  padding: 10px; 
  margin: 10px; 
  font-size: 16px; 
  cursor: pointer; 
  background-color: white; 
  border: none; 
  color: black; 
  border-radius: 5px; 
}

button:hover {
  background-color: white; 
}

/* Boton de reiniciar */
#botonReiniciar{
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; 
}

/* Poner bandera si la classe es +bandera */
.celda.bandera::after {
  content: '🚩'; 
  font-size: 30px;
}

/* Info de jugar encima de los botones */
#info{
  margin-bottom: 200px;
  margin-right: -420px;
  font-size: 15px;
  color: white;
  text-align: center;
  line-height: 0.3;
} 

/* Estilo para los ceros */
.celda-cero {
  background-color: rgb(56, 54, 54); 
  color: white; 
}

/* Estilo para los unos */
.celda-uno {
  background-color: rgb(33, 141, 23); 
  color: white; 
}

/* Estilo para los dos */
.celda-dos {
  background-color: rgb(138, 145, 113); 
  color: white; 
}

/* Estilo para los tres */
.celda-tres {
  background-color: rgb(221, 117, 20); 
  color: white; 
}

/* Estilo para los cuatro */
.celda-cuatro {
  background-color: rgb(192, 39, 72); 
  color: white; 
}

/* Estilo para los cinco */
.celda-cinco {
  background-color: rgb(56, 54, 54); 
  color: white; 
}

/* Estilo para los seis */  
.celda-seis {
  background-color: rgb(56, 54, 54); 
  color: white; 
}

/* Estilo para los siete */
.celda-siete {
  background-color: rgb(56, 54, 54); 
  color: white; 
}

/* Estilo para los ocho */
.celda-ocho {
  background-color: rgb(56, 54, 54); 
  color: white; 
}


/* Estilo para el mensaje */
#mensaje {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 60px; 
  border: 2px solid black;
  z-index: 9999;
}
